/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
	font-family: "Maven Pro", sans-serif;
}

/*######### Layout #########*/

nav{
	display: inline-block;
	position: fixed;
	top: 50px;
}

h5{
	text-align: center;
	font-size: 48pt;
}

h1{
	text-align: center;
	text-align: top;
}

nav ul{
	list-style: none;
	font-size: 15pt;
}

.load{
	position: fixed;
	width: 100px;
	height: 100px;
	top: 0;
	left: 315px;
}

.content{
	width: 1010px;
	margin: 0 auto;
	background-color: #99F08F;
	border-radius: 12px;
	padding: 20px;
	padding-bottom: 40px;
}

.notice{
	width: 800px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid blue;
	background-color: #7EE8F0;
	border-radius: 15px;
	text-align: center;
	font-size: 18pt;
	padding-top: 25px;
}

.alert{
	width: 800px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid red;
	background-color: #F06873;
	border-radius: 15px;
	text-align: center;
	font-size: 18pt;
	padding-top: 25px;
}

/*################# Home ###################*/



.home{
	text-align: center;
}

.home button{
	font-family: "Maven Pro", sans-serif;
	font-size: 12pt;
	height: 36px;
	border: 2px solid black;
	border-radius: 8px;
	background: none;
}

.home button a{
	text-decoration: none;
	color: black;
}

.home button:hover{
	background-color: #AFAAF0;
}


/*################### Search Results #############*/

.results{
	padding-top: 100px;
	text-align: center;
	margin: 0 auto;
}

/*############### User Index ##############*/

.all_users{
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

.all_users p{
	font-size: 20px;
}

/*############# New User ###############*/

.new_user{
	text-align: center;
}

.new_user input{
	height: 25px;
	width: 300px;
	border-radius: 5px;
}

/*############# Log In ##################*/

.new_session{
	text-align: center;
}

.new_session input{
	height: 25px;
	width: 300px;
	border-radius: 5px;
}

/*########### Post Feed #############*/

.feed{
	width: 900px;
	margin: 0 auto;
}

.feed h1{
	text-align: left;
}

.feed h2{
	text-align: center;
}

.feed p{
		color: #1774F0;
}

.feed p, h4{
	width: 600px;
	margin: 0 auto;
}

hr{
	border-color: black;
}

/*############# New Post ###############*/

.post_form{
	text-align: center;
}

#post_body{
	height: 150px;
	width: 500px;
	border-radius: 5px;
}

.post_form input{
	height: 25px;
	width: 300px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*############## Show ################*/

.show{
	margin-top: 50px;
	text-align: center;
}

/*############# Edit User ###############*/








