<!DOCTYPE html>
<html>
<head>
  <title>FullRailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/users">Users</a>
			</li>
			<li>
				<a href="#">My Account</a>
			</li>
			<li>
				<a href="/users/new">Sign In</a>
			</li>
			<li>
				<a href="#">Sign Out</a>
			</li>
			<li>
				<a href="/posts">Post Feed</a>
			</li>
		</ul>
	</header>

<%= yield %>

</body>
</html>
